* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/*HEADER COSAS EN COMÚN*/
.header__nav--logo {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 2rem;
}
#header-img1, #header-img2, #header-img3 {
    width: 2rem;
}

/*FOOTER COSAS EN COMÚN*/
.footer__redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.footer__redesSociales a img {
    margin: 10px;
}

.footer__redesSociales a img:hover {
    transition: 1s;
    transform: rotate(360deg);
}
.footer {
    background-color: #23b98c;
}
.footer__redesSociales a img {
    width: 2.3rem;
}
.footer__logo img {
    width: 200px;
    margin: 0 5rem;
}
.footer__suscribete {
    text-align: center;
    color: white;
    margin: 0 2rem;
}
.footer__suscribete div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}   
#suscribete--title {
    font-weight: 800;
    margin-bottom: 0.2rem;
}
#suscribete--subtitle {
    margin-bottom: 1rem;
}
#btn--suscribete {
    font-weight: 800;
    color: white;
    background-color: #FE654F;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border: none;
}
#email {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border: none;
    padding-left: 1rem;
}

/*MAIN DE INDEX*/
.logoInstagram {
    display: block;
    width: 100%;
    font-size: 0px;
    color: transparent;
    overflow: hidden;
    background: url('../img/galeria/ig.png') no-repeat center;
    background-size: contain;
    margin-top: 1rem;
}
.main__ig {
    text-align: center;
    font-weight: 800;
    margin: 2rem;
}

/*RESPONSIVE PHONE*/
@media only screen and (max-width: 1023px) { 
    .banner-desktop {
        display: none;
    }
    /*HEADER*/
    header {
        background-image: url('../img/header/b1.jpg');
        background-size: cover;
        background-position: center;
    }
    nav {
        background-color: white;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 0.5rem;
    }
    nav a {
        text-decoration: none;
        grid-row-start: 1;
    }
    .listaheader {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .listaheader li {
        margin: 0 1rem;
    }
    #header-img1 {
        content: url("../img/header/perfil1.png");
        width: 1.5rem;
    }
    #header-img2 {
        content: url("../img/header/carrito1.png");
        width: 1.5rem;
    }   
    #header-img3 {
        content: url("../img/header/favorito1.png");
        width: 1.5rem;
    }
    #header-img1:hover {
        content: url("../img/header/perfil3.png");
        width: 1.5rem;
    }   
    #header-img2:hover {
        content: url("../img/header/carrito3.png");
        width: 1.5rem;
    }   
    #header-img3:hover {
        content: url("../img/header/favorito3.png");
        width: 1.5rem;
    }
    .header__nav--logo {
        text-decoration: none;
        color: black;
    }  
    .header__nav--logo:hover, .header__nav--links1 li a:hover{
        color: #23b98c;
        cursor: pointer;
    }
    .header__nav--links1 li a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 0.875rem;
    }
    /*BANNER INDEX (ES PARTE DEL HEADER EN EL INDEX)*/
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner__desc, .banner__letras {
        justify-items: center;
        font-weight: 400;
        color: white;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.712);
        text-align: center;
    }
    .banner__letras {
        margin: 1rem;
        font-size: 2rem;
        font-family: 'Kaushan Script', cursive;
    }
    .banner__desc {
        margin: 1rem;
        font-size: 0.875rem;
        font-family: 'Raleway', sans-serif;
    }
    .banner__img img{
        width: 300px;
    }
    /*MAIN DE INDEX*/
    .main__galeria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        margin: 1rem;
    }
    .main__galeria img {
        width: 100%;
    }
    .main__galeria--quitar {
        display: none;
    }
    .logoInstagram {
        height: 40px;
    }
    .main__ig {
        font-size: 0.875rem;
    }

    /*FOOTER*/
    .footer__redesSociales a img {
        width: 1.8rem;
    }
    .footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding-bottom: 2.5rem;
    }
    .footer__logo {
        display: none;
    }
    .footer__suscribete {
        font-size: 0.875rem;
    }
    #btn--suscribete {
        width: 5.5rem;
        height: 2.3rem;
        font-size: 0.7rem;
    }
    #email {
        width: 9rem;
        height: 2.3rem;
        font-size: 0.8rem;
    }

    /*HEADER DEMÁS PÁGINAS*/
    .nav-pag #header-img1:hover {
        content: url("../img/header/perfil3.png");
        width: 1.5rem;
    }   
    .nav-pag #header-img2:hover {
        content: url("../img/header/carrito3.png");
        width: 1.5rem;
    }   
    .nav-pag #header-img3:hover {
        content: url("../img/header/favorito3.png");
        width: 1.5rem;
    }
    .nav-pag .header__nav--logo:hover, .header__nav--links1 li a:hover{
        color: #23b98c;
        cursor: pointer;
    }
    .listaheader, .header__nav--logo {
        margin-bottom: 0;
        padding: 0;
    }

    /*LOGIN Y SIGNUP*/
    .formUsuario {
        width: 19rem;
        padding: 1.1rem;
    }

    .formUsuario input, #contendedor--principal--p, .errors {
        font-size: 0.875rem;
    }
    #boton{
        font-size: 1.3rem;
    }
    
}

/*RESPONSIVE DESKTOP*/
@media only screen and (min-width: 1024px) {
    .banner-phone {
        display: none;
    }
    /*HEADER INDEX*/
    .header {
        background-image: url('../img/header/b1.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
    }
    nav {
        transition: background-color 0s;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 0.5rem;
    }
    nav:hover {
        background-image: none;
        background-color: rgb(255, 255, 255);
    }
    nav:hover a, nav:hover .header__nav--logo {
        color: black;
    }
    .listaheader {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
    .listaheader li a{
        margin: 1rem;
        padding: 0.5rem;
    }
    .header__nav--links1 li:hover a {
        background-color: #23b98c;
        border-radius: 0.5rem;
    }
    a, .header__nav--links1 li:hover a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 1rem;
    } 
    .header__nav--logo {
        color: white;
    }  
    nav:hover #header-img1 {
        content: url("../img/header/perfil1.png");
        width: 2rem;
    }   
    nav:hover #header-img2 {
        content: url("../img/header/carrito1.png");
        width: 2rem;
    }   
    nav:hover #header-img3 {
        content: url("../img/header/favorito1.png");
        width: 2rem;
    }   
    nav:hover #header-img1:hover {
        content: url("../img/header/perfil3.png");
        width: 2rem;
    }   
    nav:hover #header-img2:hover {
        content: url("../img/header/carrito3.png");
        width: 2rem;
    }   
    nav:hover #header-img3:hover {
        content: url("../img/header/favorito3.png");
        width: 2rem;
    }   
    
    nav:hover .header__nav--logo:hover {
        color: #23b98c;
        cursor: pointer;
    }

    /*BANNER INDEX (ES PARTE DEL HEADER EN LA PAG. INDEX)*/
    .banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .banner__desc, .banner__letras {
        grid-column-start: 1;
        justify-items: center;
        font-weight: 400;
        color: white;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.712);
        text-align: center;
    }
    .banner__letras {
        margin: 0 5rem;
        font-size: 3.6rem;
        font-family: 'Kaushan Script', cursive;
    }
    .banner__desc {
        margin: 4rem 5rem;
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif;
    }
    .banner__img {
        max-width: 90%;
        max-height: 90%;
    }
    .banner__img img {
        width: 90%;
        max-height: 90%;
    }

    /*MAIN INDEX*/
    .main__galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        margin: 0rem 5rem 5rem 5rem;
    }
    .main__galeria img {
        width: 100%;
    }
    .main__galeria img:hover {
        transition: 1s;
        transform: scale(1.05);
        cursor: pointer;
    }
    .logoInstagram {
        height: 60px;
    }
    .main__ig {
        font-size: 1rem;
    }

    /*FOOTER*/
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 1rem 0;
    }
    .footer__suscribete {
        font-size: 1rem;
    }
    #suscribete--subtitle {
        margin-bottom: 1rem;
    }
    #btn--suscribete {
        width: 7rem;
        height: 2.5rem;
        font-size: 0.8rem;
    }
    #email {
        width: 11rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }

    /*HEADER DEMÁS PÁGINAS*/

    .header-pag{
        background-color: white;
    }
    .nav-pag nav{
        background-image: none;
        background-color: rgb(255, 255, 255);
    }
    .nav-pag a, .nav-pag .header__nav--logo {
        color: black;
    }
    
    .nav-pag #header-img1 {
        content: url("../img/header/perfil1.png");
        width: 2rem;
    }   
    .nav-pag #header-img2 {
        content: url("../img/header/carrito1.png");
        width: 2rem;
    }   
    .nav-pag #header-img3 {
        content: url("../img/header/favorito1.png");
        width: 2rem;
    } 

    .nav-pag:hover #header-img1:hover {
        content: url("../img/header/perfil3.png");
        width: 2rem;
    }   
    .nav-pag:hover #header-img2:hover {
        content: url("../img/header/carrito3.png");
        width: 2rem;
    }   
    .nav-pag:hover #header-img3:hover {
        content: url("../img/header/favorito3.png");
        width: 2rem;
    }   
    
    .nav-pag:hover .header__nav--logo:hover {
        color: #23b98c;
        cursor: pointer;
    }
    .nav-pag .header__nav--links1 li:hover a {
        background-color: #23b98c;
        border-radius: 0.5rem;
    }
    .listaheader, .header__nav--logo {
        margin-bottom: 0;
    }

    /*NOSOTROS*/
    #main__nosotros {
        display: flex;
        flex-direction: column;
    }
    .nosotros__historia div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .nosotros__historia div img {
        width: 70%;

    }
    .h2_nos, .myv {
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        margin-top: 2rem;
    }
    .h2_nos {
        color: #FE654F;
    }
    .myv {
        color: white;
    }

    .nosotros__historia div {
        background-image: url('../img/header/b1.jpg');
        background-size: cover;
        background-position: center;
        font-size: 1rem;
        color: white;
        margin: 2rem;
        padding: 2rem;
        border-radius: 1rem;
    }
    .nosotros__historia div section{
        background-color: #23b98c;
        border-radius: 1rem;
        padding: 1rem;
    }
    .nosotros__historia div section p {
        margin: 1rem;
    }

    /*LOGIN Y SIGNUP*/
    .formUsuario {
        padding: 1.5rem;
    }

    .formUsuario input, #contendedor--principal--p, .errors {
        font-size: 1rem;
    }
    #boton{
        font-size: 1.5rem;
    }
}

#productos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.producto-card {
    margin: 2rem;
}

.productos__titulo {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
}
.productos__precio {
    font-size: 1rem;
    font-weight: 800;
    margin: 0.5rem 0;
}
.productos__stock {
    font-size: 0.9rem;
    color: #23b98c;
    margin: 0.5rem 0;
}
.productos__img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin: 0.5rem 0;
}

.productos__btn {
    font-weight: 800;
    font-size: 0.8rem;
    color: white;
    background-color: #FE654F;
    border-radius: 0.2rem;
    border: none;
    padding: 0.5rem;
}

.productos__btn:hover, #btn--suscribete:hover {
    background-color: #dd503b;
}


/*LOGIN Y SIGNUP*/
.contendedor--principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/header/b1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 60px;
}

.formUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #23b98c67;
    width: auto;
    height: auto;

    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.formUsuario input, #boton {
    outline: 0;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    width: 16rem;
    height: 3.5rem;
    border: none;
    margin: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#boton {
    font-family: 'Bebas Neue', cursive;
    background-color: #23b98c;
    color: white;
}

#contendedor--principal--p, #contendedor--principal--p a {
    color: white;
    margin: 0 0.5rem;
}

#contendedor--principal--p a {
    text-decoration: none;
    color: #23b98c;
}

.errors {
    color: white;
    margin: 0;
}